.container {
	background-color: #303030;
	border-radius: 10px;
	margin: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.left-column {
	padding: 20px;
	background-color: #555;
	border-radius: 10px;
	color: #FFF;
    transition: background-color 1s;
    position: relative;
}

.left-column:hover {
    background-color: rgb(141, 141, 141);
}

.right-column {
	padding: 20px;
	color: #FFF;
}

.top-result img {
	max-width: 50%;
	height: auto;
    border-radius: 10px;
}

.top-result p {
	color: #d6d6d6;
}

.row {
	display: grid;
    grid-template-columns: 1fr 4fr;
	align-items: center;
	margin-bottom: 20px;
    border-radius: 10px;
    transition: background-color 1s;
    position: relative;
}

.row:hover {
    background-color: rgb(141, 141, 141);
}

.image-column {
    align-items: center;
}

.image-column img {
	max-width: 80%;
	height: auto;
    border-radius: 10px;
}

.info-column {
	margin-left: 0%;
}

.info-column p {
	color: #d6d6d6;
}

.icon-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
    transition: visibility 0.5s, opacity 0.5s ease, transform 0.5s ease;
    cursor: pointer;
}

.left-column:hover .icon-overlay {
	visibility: visible;
	opacity: 1;
    transform: translateY(0);
}

.left-column:not(:hover) .icon-overlay {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
}

.row:hover .icon-overlay {
	visibility: visible;
	opacity: 1;
    transform: translateY(0);
}

.row:hover .icon-overlay {
	visibility: visible;
	opacity: 1;
    transform: translateY(0);
}
  
.icon {
    max-width: 100%;
    height: auto;
}